The WebCheckout extension that powers the integration with OITLogging and adds additional features to the 3rd party apps comes with a few new features.
<br><br>
<ul>
    <li><strong>Keyboard Shortcuts (beta)</strong>: Allows you to navigate and operate webcheckout using keyboard shortcuts. See the "Shortcuts" tab to see the current selection of shortcuts. The shortcut list changes depending on where in webcheckout you are!. For example, you can get to the checkout page using "control+shirt+c", checkout using "ctrl+c", and then confirm the checkout using "ctrl+option+c".</li>
    <li><strong>"What's New" box</strong>: Gives you an overview of what has changed. The "What's New?" button will be flashing when there is a new version of the extension. However, this is set per user per computer. You may log into another computer on WebCheckout and get the same flashing for a version you already have been notified about.</li>
    <li><strong>Other changes:</strong> small design changes, bug fixes, etc.</li>
</ul>