<div class='row'>
    <div class='col-sm-3' style='padding: 0;'>
        <input type="text" class='numbers form-control' placeholder="11111, 22222, 33333,..." />
    </div>
    <div class='col-sm-3' style='padding: 0 5px 0 5px;position:relative;'>
        <input type="text" class='type form-control' placeholder='Resource Type' />
        <ul class='autocomplete'></ul>
    </div>
    <div class='col-sm-4' style='padding: 0;'>
        <input type="text" class='description form-control' placeholder="Resource Description (opt.)" />
    </div>
    <div class='col-sm-2' style='padding: 0 0 0 5px;'>
        <div class='remove-row'>Remove</div>
    </div>
</div>
